<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-support-kotlin" version="1.2.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <platform name="android">
        <hook type="after_plugin_add" src="src/support-kotlin.js"/>
        <hook type="after_platform_add" src="src/support-kotlin.js"/>
        <framework src="org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.2.31"/>
    </platform>
</plugin>
